# Node.js Modules (such as vows) #
##################################
node_modules/

# Playground / Testing Files #
##############################
/index.html

# App build output
app/dist/

# Build files #
###############
dist/
